# Python и база данных MySQL: практическое введение

Данный материал является незначительно сокращенным переводом публикации Чайтаньи Баведжи [Python and MySQL Database: A Practical Introduction](https://realpython.com/python-mysql/).

MySQL — одна из самых популярных систем управления базами данных ([СУБД](https://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0_%D1%83%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F_%D0%B1%D0%B0%D0%B7%D0%B0%D0%BC%D0%B8_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85)) на рынке. В прошлом году в рейтинге DB-Engines она заняла второе место после СУБД Oracle. Большинство приложений в той или иной форме взаимодействует с данными. Поэтому языки программирования, такие как Python, предоставляют инструменты для хранения этих источников данных и доступа к ним.

Используя методы, описанные в этом руководстве, вы сможете эффективно интегрировать базу данных MySQL в приложение на Python. Вы разработаете небольшую базу данных MySQL для системы рейтинга фильмов и узнаете, как забирать из нее данные прямо из кода Python.

К концу этого урока вы сможете:
- Описать главные особенности MySQL
- Подключить ваше приложение к базе данных MySQL
- Сделать запрос к базе данных для получения необходимых данных
- Обработать исключения, возникающие при доступе к базе данных
- Использовать лучшие практики при создании приложений баз данных

Чтобы получить максимальную отдачу от этого руководства, вы должны иметь практические знания в таких концепциях Python, как цикл `for`, функции, обработка исключений и установка пакетов Python с помощью `pip`. Также необходимо иметь базовое представление о системах управления реляционными базами данных и SQL-запросах, таких как `SELECT`, `DROP`, `CREATE` и `JOIN`.

# Сравнение MySQL с другими SQL-базами данных

Аббревиатура SQL расшифровывается как Structured Query Language — язык структурированных запросов. SQL является широко используемым языком программирования для управления реляционными базами данных. Возможно, вы слышали о различных вариантах СУБД на основе SQL. Самые популярные из них: [MySQL](https://www.mysql.com/), [PostgreSQL](https://www.postgresql.org/), [SQLite](https://www.sqlite.org/index.html) и [SQL Server](https://www.microsoft.com/en-us/sql-server/sql-server-2019). Все эти базы данных соответствуют [стандартам SQL](https://docs.oracle.com/cd/B28359_01/server.111/b28286/intro002.htm), но в разной степени.

В силу открытости исходного кода с самого момента своего создания в 1995 году MySQL быстро стал лидером рынка среди SQL-решений. MySQL также является частью экосистемы Oracle. Хотя его основная функциональность полностью бесплатна, есть и платные дополнения. В настоящее время MySQL используется всеми крупными техническими фирмами, включая Google, LinkedIn, Uber, Netflix, Twitter и другие.

Помимо поддержки со стороны большого сообщества разработчиков ПО с открытым исходным кодом, есть много других причин успеха MySQL:

1. **Простота установки**. MySQL был разработан, чтобы быть удобным для пользователя. Создать базу данных MySQL довольно просто, а несколько широко доступных сторонних инструментов, таких как phpMyAdmin, еще больше упрощают процесс настройки. MySQL доступен для всех основных операционных систем, включая Windows, macOS, Linux и Solaris.
2. **Скорость**. MySQL имеет репутацию быстрого решения для баз данных. Эта СУБД также хорошо масштабируется в долгосрочной перспективе.
3. **Права пользователя и безопасность**. MySQL позволяет устанавливать уровень безопасности пароля, назначать пароли администратора, добавлять и удалять привилегии учетным записям пользователей. Процессы администрирования правами пользователями веб-хостинга выглядят очень просто. Другие СУБД, такие как PostgreSQL, используют [файлы конфигурации](https://www.postgresql.org/docs/9.3/config-setting.html), которые потребуют некоторой сноровки.

MySQL использует синтаксис, очень похожий на стандартный SQL. Однако есть некоторые заметные отличия, упомянутые в [официальной документации](https://dev.mysql.com/doc/refman/8.0/en/differences-from-ansi.html).

# Установка MySQL Server и MySQL Connector

Чтобы начать работу с этим руководством, вам необходимо настроить две вещи: MySQL Server и MySQL Connector. MySQL Server предоставит все ресурсы, необходимые для работы с вашей базой данных. После запуска сервера вы сможете подключить к нему свое приложение Python с помощью MySQL Connector / Python.

## Установка MySQL Server
Официальная документация описывает рекомендуемые способы загрузки и установки MySQL Server. Вы найдете инструкции для всех популярных операционных систем, включая [Windows](https://dev.mysql.com/doc/refman/8.0/en/windows-installation.html), [macOS](https://dev.mysql.com/doc/refman/8.0/en/osx-installation.html), [Solaris](https://dev.mysql.com/doc/refman/8.0/en/solaris-installation.html), [Linux](https://dev.mysql.com/doc/refman/8.0/en/linux-installation.html) и многие другие.

Для Windows лучше всего загрузить [установщик MySQL](https://dev.mysql.com/downloads/installer/) и позволить ему позаботиться обо всем процессе. Диспетчер установки также помогает настроить параметры безопасности сервера MySQL. На странице Учетные записи и роли вам необходимо ввести пароль для root-записи (admin), а также при желании добавить других пользователей с различными привилегиями:

<img src="https://files.realpython.com/media/root_user_pass.cf4a9c6ea5f5.png" width="500px"/>
*Настройка учетной записи MySQL*

С помощью этих установщиков вы также можете настроить другие полезные инструменты, такие как [MySQL Workbench](https://www.mysql.com/products/workbench/). Если вы не хотите устанавливать MySQL непосредственно в операционную систему, удобная альтернатива — [развернуть MySQL с помощью Docker](https://dev.mysql.com/doc/refman/8.0/en/linux-installation-docker.html).

## Установка MySQL Connector/Python

Драйвер базы данных — программное обеспечение, которое позволяет приложению подключаться и взаимодействовать с системой базы данных.

Такие драйверы обычно поставляются в виде отдельных модулей. API базы данных Python (DB-API) определяет стандартный интерфейс, которому должны соответствовать все драйверы базы данных Python. Эти сведения задокументированы в [PEP 249](https://www.python.org/dev/peps/pep-0249/). Все драйверы баз данных Python, такие как [sqlite3](https://docs.python.org/3/library/sqlite3.html) для SQLite, [psycopg](https://www.psycopg.org/docs/) для PostgreSQL и [MySQL Connector/Python](https://github.com/mysql/mysql-connector-python) для MySQL, следуют этим правилам. Для установки воспользуемся менеджером пакетов `pip`:

In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.22-cp37-cp37m-manylinux1_x86_64.whl (18.0 MB)
     |████████████████████████████████| 18.0 MB 31 kB/s s eta 0:00:01
Requirement already satisfied: protobuf>=3.0.0 in /home/leo/anaconda3/lib/python3.7/site-packages (from mysql-connector-python) (3.12.2)
Requirement already satisfied: setuptools in /home/leo/anaconda3/lib/python3.7/site-packages (from protobuf>=3.0.0->mysql-connector-python) (49.6.0.post20201009)
Requirement already satisfied: six>=1.9 in /home/leo/anaconda3/lib/python3.7/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.22

`pip` установит коннектор, как сторонний модуль, в текущую активную среду. Чтобы работать с проектом изолированным образом, рекомендуется [настроить виртуальную среду](https://proglib.io/p/kak-sozdat-virtualnoe-okruzhenie-v-python-i-perestat-dumat-o-zavisimostyah-2020-03-10).

Проверим результат установки, запустив в терминале Python следующую команду:

In [1]:
import mysql.connector

Если приведенный код выполняется без ошибок, значит `mysql.connector` успешно установлен и готов к использованию.

# Установление соединения с сервером MySQL

MySQL ― это серверная система управления базами данных. Один сервер может содержать несколько баз данных. Чтобы взаимодействовать с базой данных, вы должны сначала установить соединение с сервером. Общий рабочий процесс программы Python, которая взаимодействует с базой данных на основе MySQL, выглядит следующим образом:

1. Подключаемся к серверу MySQL.
2. Создаем новую базу данных (при необходимости).
3. Соединяемся с базой данных.
4. Выполняем SQL-запрос, собираем результаты.
5. Сообщаем базе данных, если в таблицу внесены изменения.
6. Закрываем соединением с сервером MySQL.

Это общий рабочий процесс, который может различаться в зависимости от конкретного приложения. Но каким бы ни было приложение, первый шаг ― связать между собой приложение и базу данных.

# Подключаемся к серверу MySQL из Python

Чтобы установить соединение, используем `connect()` из модуля `mysql.connector`. Эта функция принимает параметры `host`, `user` и `password`, а возвращает объект `MySQLConnection`. Учетные данные можно получить в виде ввода от пользователя:

In [3]:
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user=input("Имя пользователя: "),
        password=getpass("Пароль: "),
    ) as connection:
        print(connection)
except Error as e:
    print(e)

Имя пользователя:  root
Пароль:  ········

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f1a98d5e198>

Объект `MySQLConnection` хранится в переменной `connection`, которую теперь мы будем использовать для доступа к серверу MySQL. Несколько важных моментов:

- Оборачивайте все соединения в блоки `try ... except`. Так будет проще перехватить и изучить любые исключения.
- Не забывайте закрывать соединение после завершения доступа к базе данных. Неиспользуемые открытые соединения приводят к неожиданным ошибкам и проблемам с производительностью. В приведенном коде для этого используется диспетчер контекста (`with ... as ...`).
- Никогда не следует жестко кодировать свои учетные данные (имя пользователя и пароль) непосредственно в скрипт Python. Это плохая практика для развертывания и представляет серьезную угрозу безопасности. Приведенный код запрашивает для входа учетные данные. Для этого используется встроенный модуль `getpass`, чтобы скрыть вводимый пароль. Хотя это лучше, чем жесткое кодирование, но есть и другие, более безопасные способы хранения конфиденциальной информации, например, использование переменных среды.

Мы установили соединение между нашей программой и сервером MySQL. Теперь нужно либо создать новую базу данных, либо подключиться к существующей.

# Создаем новую базу данных

Чтобы создать новую базу данных, например `online_movie_rating`, нужно выполнить инструкцию SQL:

```
CREATE DATABASE online_movie_rating;
```
---
**Примечание**. MySQL обязывает ставить точку с запятой (`;`) в конце оператора. Однако `MySQL Connector/Python` автоматически добавляет точку с запятой в конце запросов.

---

Чтобы выполнить SQL-запрос, нам понадобится курсор, который абстрагирует процесс доступа к записям базы данных. MySQL Connector/Python предоставляет соответствующий класс `MySQLCursor`, экземпляр которого также называется курсором.

Передадим наш запрос о создании базы данных `online_movie_rating`:

In [4]:
try:
    with connect(
        host="localhost",
        user=input("Имя пользователя: "),
        password=getpass("Пароль: "),
    ) as connection:
        create_db_query = "CREATE DATABASE online_movie_rating"
        with connection.cursor() as cursor:
            cursor.execute(create_db_query)
except Error as e:
    print(e)

Имя пользователя:  root
Пароль:  ········

1007 (HY000): Can't create database 'online_movie_rating'; database exists

Запрос `CREATE DATABASE` сохраняется в виде строки в переменной `create_db_query`, а затем передается на выполнение в `cursor.execute()`.

Если база данных с таким именем уже существует на сервере вы получите сообщение об ошибке. Чтобы это проверить, мы можем отобразить имена всех баз данных на сервере. Используя тот же объект `MySQLConnection`, что и ранее, выполним запрос `SHOW DATABASES`:

In [5]:
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
    ) as connection:
        show_db_query = "SHOW DATABASES"
        with connection.cursor() as cursor:
            cursor.execute(show_db_query)
            for db in cursor:
                print(db)
except Error as e:
    print(e)

Enter username:  root
Enter password:  ········

('information_schema',)
('mysql',)
('online_movie_rating',)
('performance_schema',)
('sys',)

Приведенный код выведет имена всех баз данных, находящихся  на нашем сервере MySQL. Команда `SHOW DATABASES` в нашем примере также вывела базы данных, которые автоматически создаются сервером MySQL и предоставляют доступ к различным метаданным баз данных и настройкам сервера.

# Подключение к существующей базе данных

Итак, мы создали новую базу данных под названием `online_movie_rating`. Чтобы к ней подключиться, просто дополняем вызов `connect()` параметром `database`:

In [16]:
try:
    with connect(
        host="localhost",
        user=input("Имя пользователя: "),
        password=getpass("Пароль: "),
        database="online_movie_rating",
    ) as connection:
        print(connection)
except Error as e:
    print(e)

Имя пользователя:  root
Пароль:  ········

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f6269f4e908>

---

Для удобства дальнейшей работы , чтобы не вводить в каждую ячейку логи и пароль, создадим соединение, не закрывая его.

In [6]:
connection = connect(
    host="localhost",
    user=input("Имя пользователя: "),
    password=getpass("Пароль: "),
    database="online_movie_rating")

Имя пользователя:  root
Пароль:  ········

___

# Создание, изменение и удаление таблиц

В этом разделе мы рассмотрим, как с помощью Python выполнять некоторые базовые запросы вроде `CREATE`, `DROP` и `ALTER`. 

## Определение схемы базы данных
Начнем с создания схемы базы данных для рейтинговой системы фильмов. База данных будет состоять из трех таблиц:

1. `movies` содержит общую информацию о фильмах и имеет следующие атрибуты
- `id`
- `title`
- `release year`
- `genre`
- `collection_in_mil`
2. `reviewers` содержит информацию о людях, которые опубликовали отзывы или оценки, и имеет следующие атрибуты:
- `id`
- `first_name`
- `last_name`
3. `ratings` содержит информацию о выставленных рейтингах и имеет следующие атрибуты
- `movie_id` (foreign key)
- `reviewer_id` (foreign key)
- `rating`

Этих трех таблиц будет достаточно для целей данного руководства.

<img src="https://files.realpython.com/media/schema.2e80e67d2ae1.png" width="500px"/>
*Схема системы рейтинга фильмов*

Таблицы в этой базе данных связаны друг с другом: `movies` и `reviewers` должны иметь отношение «многие ко многим»: один фильм может быть просмотрен несколькими рецензентами, а один рецензент может рецензировать несколько фильмов. Таблица `ratings` соединяет таблицу фильмов с таблицей обозревателей.

# Создание таблиц с помощью оператора CREATE TABLE

Теперь, чтобы создать новую таблицу в MySQL, нам нужно использовать оператор `CREATE TABLE`. Следующий запрос MySQL создаст таблицу `movies` нашей базы данных `online_movie_rating`:

```MySQL
CREATE TABLE movies(
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(100),
    release_year YEAR(4),
    genre VARCHAR(100),
    collection_in_mil INT
);
```

Если вы раньше встречались с SQL, вам будет понятен смысл  приведенного запроса. Однако в синтаксисе MySQL есть некоторые отличительные особенности. Например, MySQL предлагает широкий выбор типов данных, включая `YEAR`, `INT`, `BIGINT` и так далее. Кроме того, MySQL использует ключевое слово `AUTO_INCREMENT`, когда значение столбца должно автоматически увеличиваться при вставке новых записей.

Чтобы создать новую таблицу, нам необходимо передать указанный запрос в `cursor.execute()`:

In [7]:
create_movies_table_query = """
CREATE TABLE movies(
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(100),
    release_year YEAR(4),
    genre VARCHAR(100),
    collection_in_mil INT
)
"""

with connection.cursor() as cursor:
    cursor.execute(create_movies_table_query)
    connection.commit()

ProgrammingError: 1050 (42S01): Table 'movies' already exists

Обратите внимание на оператор `connection.commit()`. По умолчанию коннектор MySQL не выполняет автоматическую фиксацию транзакций. В MySQL модификации, упомянутые в транзакции, происходят только тогда, когда мы используем в конце команду `COMMIT`. Чтобы внести изменения в таблицу, всегда вызывайте этот метод после каждой транзакции.

Повторим процедуру для таблицы `reviewers`:

In [8]:
create_reviewers_table_query = """
CREATE TABLE reviewers (
    id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(100),
    last_name VARCHAR(100)
)
"""

with connection.cursor() as cursor:
    cursor.execute(create_reviewers_table_query)
    connection.commit()

ProgrammingError: 1050 (42S01): Table 'reviewers' already exists

Наконец, создадим таблицу `ratings`:

In [22]:
create_ratings_table_query = """
CREATE TABLE ratings (
    movie_id INT,
    reviewer_id INT,
    rating DECIMAL(2,1),
    FOREIGN KEY(movie_id) REFERENCES movies(id),
    FOREIGN KEY(reviewer_id) REFERENCES reviewers(id),
    PRIMARY KEY(movie_id, reviewer_id)
)
"""

with connection.cursor() as cursor:
    cursor.execute(create_ratings_table_query)
    connection.commit()

Реализация отношений внешнего ключа в MySQL немного отличается и имеет ограничения в сравнени со стандартным SQL. В MySQL и родитель, и потомок внешнего ключа должны использовать один и тот же механизм хранения ― базовый программный компонент, который система управления базами данных использует для выполнения  SQL-операций. MySQL предлагает два вида таких механизмов:
1. **Механизмы хранения транзакций** безопасны для транзакций и позволяют откатывать транзакции с помощью простых команд, таких как `rollback`. К этой категории относятся многие популярные движки MySQL, включая [InnoDB](https://dev.mysql.com/doc/refman/8.0/en/innodb-storage-engine.html) и [NDB](https://dev.mysql.com/doc/refman/8.0/en/mysql-cluster.html).
2. **Нетранзакционные механизмы хранения** для отмены операторов, зафиксированных в базе данных, опираются на ручной код. Это, например [MyISAM](https://dev.mysql.com/doc/refman/8.0/en/myisam-storage-engine.html) и [MEMORY](https://dev.mysql.com/doc/refman/8.0/en/memory-storage-engine.html).

InnoDB ― самый популярный механизм хранения по умолчанию. Соблюдая ограничения внешнего ключа, он помогает поддерживать целостность данных. Это означает, что любая [CRUD](https://en.wikipedia.org/wiki/Create,_read,_update_and_delete)-операция с внешним ключом предварительно проверяется на то, что она не приводит к несогласованности между разными таблицами.

Обратите внимание, что таблица `ratings` использует столбцы `movie_id` и `reviewer_id`, как два внешних ключа, выступающих вместе в качестве первичного ключа. Эта особенность гарантирует, что рецензент не сможет дважды оценить один и тот же фильм.

Один и тот же курсор можно использовать для нескольких обращений. В этом случае все обращения станут одной атомарной транзакцией. Например, можно выполнить все операторы `CREATE TABLE` одним курсором, а затем за раз зафиксировать транзакцию:

```Python
with connection.cursor() as cursor:
    cursor.execute(create_movies_table_query)
    cursor.execute(create_reviewers_table_query)
    cursor.execute(create_ratings_table_query)
    connection.commit()
```

## Отображение схемы таблиц с использованием оператора DESCRIBE

Мы создали все три таблицы и можем просмотреть схему, используя оператор `DESCRIBE`.

Предполагая, что у вас уже есть объект `MySQLConnection` в переменной `connection`, мы можем распечатать результаты, полученные с помощью `cursor.fetchall()`. Этот метод извлекает все строки из последнего выполненного оператора:

In [9]:
show_table_query = "DESCRIBE movies"
with connection.cursor() as cursor:
    cursor.execute(show_table_query)
    # Fetch rows from last executed query
    result = cursor.fetchall()
    for row in result:
        print(row)

('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('title', 'varchar(100)', 'YES', '', None, '')
('release_year', 'year(4)', 'YES', '', None, '')
('genre', 'varchar(100)', 'YES', '', None, '')
('collection_in_mil', 'int(11)', 'YES', '', None, '')

После выполнения приведенного кода вы должны получить таблицу, содержащую информацию обо всех столбцах в таблице `movies`. Для каждого столбца выводится информация, о типе данных столбца, о том, является ли столбец первичным ключом и т. д.

## Изменение схемы таблицы с помощью оператора ALTER

Столбец с именем `collection_in_mil` в таблице `movies` содержит кассовые сборы фильма в миллионах долларов. Мы можем написать следующую инструкцию MySQL, чтобы изменить тип данных атрибута `collection_in_mil` с `INT` на `DECIMAL`:

```MySQL
ALTER TABLE movies MODIFY COLUMN collection_in_mil DECIMAL(4,1);
```

`DECIMAL(4,1)` указывает на десятичное число, которое может иметь максимум 4 цифры, из которых 1 соответствует разряду десятых, например, `120.1`, `3.4`, `38.0` и т. д.

In [11]:
alter_table_query = """
ALTER TABLE movies
MODIFY COLUMN collection_in_mil DECIMAL(4,1)
"""
show_table_query = "DESCRIBE movies"
with connection.cursor() as cursor:
    cursor.execute(alter_table_query)
    cursor.execute(show_table_query)
    # Получить строки из последнего выполненного запроса
    result = cursor.fetchall()
    print("Схема таблицы movie после внесения изменений:")
    for row in result:
        print(row)

Схема таблицы movie после внесения изменений:
('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('title', 'varchar(100)', 'YES', '', None, '')
('release_year', 'year(4)', 'YES', '', None, '')
('genre', 'varchar(100)', 'YES', '', None, '')
('collection_in_mil', 'decimal(4,1)', 'YES', '', None, '')

Как показано в выходных данных, атрибут `collection_in_mil` теперь имеет тип `DECIMAL(4,1)`. Также обратите внимание, что в приведенном выше коде мы дважды вызываем `cursor.execute()`, но `cursor.fetchall()` выбирает строки только из последнего выполненного запроса, которым является `show_table_query`.

## Удаление таблиц с помощью оператора DROP

Для удаления таблиц служит оператор `DROP TABLE`. Удаление таблицы ― необратимый процесс. Если вы выполните приведенный ниже код, вам нужно будет снова вызвать запрос `CREATE TABLE`:

In [ ]:
drop_table_query = "DROP TABLE ratings"
with connection.cursor() as cursor:
    cursor.execute(drop_table_query)